{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'store/style.css'%}" />
{% endblock %}

{% block content %}
  <h1>예약페이지</h1>

    <form action="{% url 'store:create' %}" method="POST">
    {% csrf_token %}

    <h2>날짜</h2>
    <input type="text" name="set_day" />

    <h2>픽업시간</h2>
    <input type="text" name="pickuptime" />
   
    <h3>사장님 메세지</h3>
    <textarea cols="40" rows="10" name="notification"></textarea>


    <h2>메뉴</h2>
    {% if test %}
    <table>
      <thead>
        <tr>
          <th>메뉴</th>
          <th>재고</th>
          <th>가격</th>
          <th>주문수량</th>
        </tr>
      </thead>
      <tbody>
        {% for x in test %}
        <tr>  
            <td>{{ x.item }}</td>
            <td>{{ x.quota }}</td>
            <td>{{ x.item_price }}</td>
            <td><input type="number" name="order_quota" id="order_quota"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No Posts.</p>
    {% endif %}
    <h2>포장방법</h2>
    <input type="text" name="author" />
    <h2>예약자정보</h2>
    {% if test %}
    <table>
        <thead>
            <tr>
                <th>예약자 이름</th>
                <th>예약자 연락처</th>
            </tr>
        </thead>
        <tbody>
            {% for x in customer %}
            <tr>
                <th>{{ customer.first_name }}</th>
                <th>{{ user.username }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Posts.</p>
    {% endif %}
    <br />
    <input type="submit" class=button1 value="예약하기">

  </form>
  <style>
    .button1 {display:inline-block; background-color:#f44336; color: #FFFFFF; padding: 14px 25px; text-align: center; text-decoration: none; font-size: 16px; margin-left: 20px; opacity: 0.9; border-radius: 5px;} 
    .button1:hover {color:white; background-color:pink; opacity:1.0;}
  </style>  
  <a href="{% url 'store:index' %}" class="button1" targer="_blank">이전으로</a>


{% endblock %}