{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'store/style.css'%}" />
{% endblock %}

{% block content %}
  <h1>구매내역</h1>
  {{test_variable}}
  {% if post %}
    <table>
      <thead>
        <tr>
          <tr>주문번호</tr>
          <tr>가게이름</tr>
          <tr>메뉴</tr>
          <tr>수량</tr>
          <tr>예약날짜</tr>
          <tr>픽업시간</tr>
        </tr>
      </thead>
      <tbody>
        {% for post in posts%}
        <tr>
          <th>{{ order.id }}</th>
          <th>{{ order.store }}</th>
          <th>{{ orderlist.today_lineup }}</th>
          <th>{{ orderlist.order_quota }}</th>
          <th>{{ order.ordered_date }}</th>
          <th>{{ order.pickuptime }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No Post.</p>
  {% endif %}
  <h2>사장님메세지칸</h2>
  <p>{{ store_set.notification}}</p>
  <h2>가게정보</h2>

  <style>
    .button1 {display:inline-block; background-color:#f44336; color: #FFFFFF; padding: 14px 25px; text-align: center; text-decoration: none; font-size: 16px; margin-left: 20px; opacity: 0.9; border-radius: 5px;} 
    .button1:hover {color:white; background-color:pink; opacity:1.0;}
  </style>  
  <a href="{% url 'store:index' %}" class="button1" targer="_blank">메인페이지</a>
  
{% endblock %}