{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'store/style.css'%}" />
{% endblock %}

{% block content %}

<form action="{% url 'store:review_create' %}" method="post">
    {% csrf_token %}
    <h1>리뷰작성하기</h1>
    <h2>주문번호</h2>
    <input type="number" name="order_id">
    <h3>리뷰를 작성해주세요! </h3>
    <textarea cols="40" rows="10" name="review_content"></textarea>
   <br>
   <br>
   <br>
    <input type="submit" class=button1 value="등록하기">
    <style>
      .button1 {display:inline-block; background-color:#f44336; color: #FFFFFF; padding: 14px 25px; text-align: center; text-decoration: none; font-size: 16px; margin-left: 20px; opacity: 0.9; border-radius: 5px;} 
      .button1:hover {color:white; background-color:pink; opacity:1.0;}
    </style>  
</form>

{% endblock %}